@import "tailwindcss";

@theme {
  --color-primary-light: #2563eb; 
  --color-primary-dark: #1e40af;
  --color-text-dark: #4b5563;
  --color-bg-white: #F9FAFB;
}


@layer base {
  * {
    font-family: "Roboto", sans-serif;
    margin: 0;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    overflow-x: hidden;
    box-sizing: border-box;
  }

  button {
    cursor: pointer;
  }

  p {
    line-height: 1.5;
    font-size: 1rem;
  }
}
